/*
Austrian Converters (2021), CSS
Version 0.2
Dexter Edge
2021-02-24
*/

body {
    font-family: serif;
    font-size: 18px;
    background-color: #fafaf3;
}

h1 {
    padding-top: 10px;
}

input {
    font-family: sans-serif;
}

/* Eliminate red "glow" that Firefox places around input fields */
input:-moz-ui-invalid {
    box-shadow: none;
}

#instructions {
    font-size: 0.8em;
    color: #888;
}

#b {
    margin-top: 1em;
}

#github {
    opacity: 0.5;
}

