/*
Gulden and ducat converter (Bootstrap), CSS
Version 0.1
Dexter Edge
2018-09-09

Approach based on the underlying HTML and JavaScript (not the 'Try It' code) at the page https://www.w3schools.com/howto/howto_js_weight_converter.asp
*/

body {
    font-size: 18px;
    background-color: #fafaf3;
}

h1, h3, h5, label, .input-group-text {
    font-family: serif;
}

h1 {
    padding-top: 1em;
}

.input-group {
    margin-bottom: 1em;
}

.input-group-append {
    padding-right: 1em;
}

input + .input-group-prepend {
    padding-left: 1em;
}

/* to remove red around input boxes in Firefox */
input:invalid {
    box-shadow: none;
}

hr {
    height: 1px;
    background-color:#ccc;
    margin-top: 1em;
}

.instructions {
    font-size: 0.75em;
    color: #888;
    padding: 0 1em;
}

img {
    width: 200px;
    padding-top: 1em;
    padding-right: 2em;
}
